/* =====SETUP===== */

$white: #ffffff;
$royalblue: #4f61f3;
$darkslategray: #1f2c3c;
$background: #161616;
$backgroundText: #111111;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  width: 10px;
  color: $royalblue;
}

::-webkit-scrollbar-track {
  background-color: $backgroundText;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

  background: $background;

  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

.navbar {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 60px;
  background-color: $background;

  display: flex;
  align-items: center;
  justify-content: center;

  .list {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      list-style: none;

      a {
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        font-weight: 700;
        font-size: 18px;

        transition: 0.2s ease-in-out;
      }

      a:hover {
        color: $royalblue;
        transition: 0.3s ease-in-out;
        font-size: 20px;
      }
    }
  }
}

#home_screen {
  background-color: $background;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  .back__title {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: $backgroundText;
    font-size: 300px;
  }

  .informations {
    font-family: "Oxygen", sans-serif;
    color: $white;

    position: absolute;
    top: 200px;
    left: 200px;

    .square {
      width: 20px;
      height: 20px;
      background-color: $white;
    }

    .name {
      text-transform: uppercase;
      font-size: 50px;
    }

    .information {
      font-size: 25px;
    }
  }
}

#about_screen {
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: auto;

  .back__title {
    position: absolute;
    top: 200px;
    left: 30vw;
    z-index: 1;

    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: $backgroundText;
    font-size: 300px;
  }

  .grid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100%;
    margin-top: 50px;

    .left {
      width: 100%;
      height: 100%;

      img {
        z-index: 2;
        width: 25vw;
        height: auto;
        margin: 50px;
      }
    }

    .right {
      z-index: 5;
      width: 100%;
      height: 100%;
      color: $white;
      font-family: "Raleway", sans-serif;

      h1 {
        margin: 50px 50px 50px 0;
        font-size: 40px;
        font-weight: 500;
      }

      p {
        margin: 0 75px 0 0;
        font-size: 20px;
      }
    }
  }
}

#project_screen {
  z-index: -1;
  position: absolute;
  top: 200vh;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  .back__title {
    position: absolute;
    top: 200px;
    z-index: -1;

    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: $backgroundText;
    font-size: 300px;
  }

  .container {
    position: absolute;
    margin-top: 150px;
    width: 100%;
    height: auto;
    z-index: 5;
    display: flex;
    overflow-x: hidden;

    .block {
      z-index: 6;
      width: 580px;
      height: 460px;
      margin: 10px 150px 20px 80px;

      h1 {
        width: 580px;
        height: 460px;
        font-family: "Playfair Display", serif;
        font-weight: lighter;
        font-size: 64px;
        color: $white;
      }
    }

    .block-1 {
      z-index: 5;
      background: url(../img/img-one.jpeg) no-repeat 50% 50%;
      background-size: cover;

      h1 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }

    .block-2 {
      z-index: 5;
      background: url(../img/img-two.jpeg) no-repeat 50% 50%;
      background-size: cover;
    }

    .block-3 {
      z-index: 5;
      background: url(../img/img-three.jpeg) no-repeat 50% 50%;
      background-size: cover;

      h1 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }

    .block-4 {
      z-index: 5;
      background: url(../img/img-four.jpeg) no-repeat 50% 50%;
      background-size: cover;
    }

    .block-5 {
      z-index: 5;
      background: url(../img/img-five.jpeg) no-repeat 50% 50%;
      background-size: cover;

      h1 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }
}
